# Dependencies
node_modules/
deployment_flow.md
system.md
Design.md
# Build output
dist/
.astro/

# System files
.DS_Store
*.log

# Editor
.vscode/
.idea/

.env
.wrangler

.dev.vars*
!.dev.vars.example
!.env.example
